/* Put your solutions to the assignment here */
body{
    background-color: #eee;
}
header{
    display: flex;
    background-color: #49516f;
    table-layout: flexbox;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
} 
header h1{
    margin: 0px;
    color: white;

}
header span{
    margin: 0px;
    color: white;
}
.logo{
    padding:5px;

    margin: 10px;

    height: 100px;
    width: 100px;

    border-width: 5px;
    border-style: solid;
    border-color: white;
}
.posts{
    display: flex;
    flex-wrap: wrap;
}
.post{
    flex-grow: initial;
}
.post-body{
    height: 200px;
}
.post-container{
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: white;
    justify-items: center;
}
.post-pic{
    height: 200px;
    width: 200px;

    margin-right: 10px;
}

@media only screen and (min-width: 999px){
    /* desktop*/
    .posts{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .post{
        display: flex;        
        max-width: 800px;
        width: 100%;
        height: 100%;
    }
}
@media only screen and (max-width: 999px) and (min-width: 400px){
    /* table */
    header{
        justify-content: center;
    }
    .posts{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .post-container{
        flex-direction: column;
    }
    .post{
        flex: 50%;
    }
    .post-pic{
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-width: 399px){
    header{
        flex-direction: column;
        text-align: center;
    }
    .logo{
        border-radius: 50%;
    }
    .posts{
        flex-basis: auto;
        flex-direction: column;
    }
    .post-container{
        flex-direction: column;
    }
    .post-pic{
        width: 100%;
        height: auto;
    }
}
